/*---------------- RESET ----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*---------------- ? ----------------------*/
:root {
  --header-height: 4.5rem;
  /* colors */
  --hue: 0;
  /* HSL color mode */
  --base-color: #979797;
  --base-color-second: #282828;
  --base-color-alt: #282828;
  --title-color: #e2e2e2;
  --subtitle-color: #dfdfdf;
  --text-color: #cdcdcd;
  --text-color-light: hsl(0 0% 98%);
  --body-color: #222222;
  --title-font-size: 1.75rem;
  --title-presentation-font-size: 3rem;
  --subtitle-font-size: 1.25rem;
  --font: 'Jetbrains Mono', sans-serif;
}

/*---------------- BASE ----------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font: 300 1rem var(--font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

main {
  margin-top: var(--header-height);
}

.title {
  font: 500 var(--title-font-size) var(--font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.subtitle {
  font: 400 var(--subtitle-font-size) var(--font);
  color: var(--subtitle-color);
}

.presentation {
  font-size: var(--title-presentation-font-size);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(270deg, var(--text-color), black);
}

.divider-2 {
  height: 1px;
  background: linear-gradient(270deg, black, var(--title-color));
}

/*---------------- LAYOUT----------------------*/
.container {
  height: auto;
  max-width: 1226px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 3.1875rem 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
}

.section header {
  max-width: 32rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  height: var(--header-height);
  margin-bottom: 2rem;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--base-color-second);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

/*---------------- LOGO----------------------*/
.logo {
  font: 500 1.31rem var(--font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

/*----------------NAVIGATION-------------------*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.3s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
  font-weight: bold;
  -webkit-font-smoothing: auto;
}

nav ul li a:after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.3s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu ul li a.title {
  font: 300 1rem var(--font);
  -webkit-font-smoothing: antialiased;
}

nav .menu ul li a.title.active {
  font-weight: 500;
  -webkit-font-smoothing: auto;
}

/**/
nav .menu {
  opacity: 1;
  visibility: visible;
  top: 0;
  transition: 0.2s;
}

nav .menu ul {
  display: flex;
  gap: 2rem;
}

/*---------------- HOME ----------------------*/

#home {
  overflow: hidden;
}

#home .container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 0 auto;
}

#home .text {
  order: 0;
  max-width: 24rem;
  text-align: left;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#home .title {
  margin-bottom: 15.125rem;
}

#home .container .scroll-down {
  margin-left: 6.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 27.5rem;
}

#home .container .scroll-down i {
  margin-top: 0.5rem;
  font-size: 2rem;
}

/*---------------- ABOUT ----------------------*/
#about .text {
  word-break: break-word;
  margin-top: 2rem;
  display: flex;
  align-items: initial;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
}

#about .text .abstract {
  text-align: justify;
}

#about .text .subtitle {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/*--------------- PORTFOLIO --------------------*/
#portfolio .container {
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
}

#portfolio .text {
  max-width: 20rem;
}

#portfolio .project {
  width: 21.0625rem;
  height: 21.1875rem;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0.625rem;
  float: left;
}

#portfolio img {
  border-radius: 1%;
  position: relative;
  left: -11px;
  bottom: 9px;
  width: 21.0625rem;
  height: 21.1875rem;
}

#portfolio .project span.text {
  max-width: none;
  word-break: break-word;
  padding: 30px;
}

#portfolio i {
  font-size: 1.5rem;
  color: var(--text-color-light);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: 0;
  transition: 0.3s;
}

#portfolio i:hover {
  transform: translateY(-8px);
}

#portfolio .project span {
  background: var(--base-color-alt);
  color: var(--text-color);
  padding: 0.625rem;
  position: absolute;
  bottom: -1px;
  left: -1px;
  opacity: 0;

  width: 21.0625rem;
  height: 21.1875rem;
  padding: 1.25rem;
}

#portfolio .project:hover span {
  opacity: 0.8;
}

#portfolio .project:hover i {
  opacity: 0.8;
}

/*swiper*/
.swiper-slide {
  max-width: 420px;
  margin-right: 50px;
  height: auto;
  padding: 4rem 1rem;
}

.swiper-container {
  overflow: hidden;
  background: #282828;
  padding-right: 10rem;
  padding-left: 7px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

/*---------------- CONTACT ---------------------*/
#contact {
  display: flex;
  align-items: center;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #cdcdcd;
  width: 1024px;
  height: 545px;
}

.contact .links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact form input {
  padding: 10px;
  font: var(--font);
  margin-top: 10px;
  height: 45px;
  width: 490px;
}

.contact form .message {
  padding: 10px;
  font: var(--font);
  word-break: break-word;
  margin-top: 10px;
  resize: none;
  outline: none;
  height: 105px;
  width: 490px;
}

.contact .button {
  width: auto;
  height: auto;
  background: #282828;
  color: var(--text-color);
  font: var(--font);
  border: 1px solid #404040;
  padding: 0.5rem 1rem;
  margin-top: 27px;
  cursor: pointer;
  border-radius: 5%;
  transition: 0.3s;
}

.contact .button:hover {
  background: #1b1b1b;
}
/*---------------- FOOTER ----------------------*/
footer .container {
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

footer {
  background: var(--base-color-second);
}

footer.section {
  padding: 3.25rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 2.25rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a:hover {
  transform: translateY(-8px);
}
/* back-to-top */
.back-to-top {
  background: var(--base-color-alt);
  color: var(--text-color-light);
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem;
  clip-path: circle();
  font-size: 1.5rem;
  line-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}
.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
